{
	LabCacti02 => {
		db_r_user     => 'cacti',
		db_r_pass     => 'cactipass',
		db_r_host     => 'LabCacti02.dias.local',
		db_r_port     => '3306',
		db_r_database => 'cacti'
	},
	LabCacti03 => {
		db_r_user     => 'cacti',
		db_r_pass     => 'cactipass',
		db_r_host     => 'LabCacti03.dias.local',
		db_r_port     => '3306',
		db_r_database => 'cacti',
	}
};
